.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.item{
    background-color: #39cfdd;
    border: solid 1px black;
    border-radius: 2px;
    color: white;
    text-align: center;
    display: inline-block;
}