.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
}
.flex-block{
    background-color: #39cfdd;
    border: solid 1px black;
    border-radius: 2px;
    color: white;
    text-align: center;
    margin: 5px;
    padding: 5px;
    min-width: 50px;
    flex: 1 1 100px;
}